<html>
  <h1  align="center";> Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones
  </h1>
<hr>
  <h3 align="center";>
  Edición 2022
  </h3>
<hr>
  <h1 align="center";>
  Trabajo Práctico Entregable
  </h1>
  <h2 align="center";>
  Parte 2
  </h2>
</html>

## Profesora del Práctico:
- Fonseca, Rocio

## Integrantes [Grupo 5]:
- Argüello, Leandro Ismael
- Corral, Diego
- Racciatti. Florencia
- Rinaudo, Eleana
- Romero, Ernest

<html>
<hr>
  <h1  align="center";>
    Análisis Exploratorio de Datos
  </h1>
</html>

# Importación de librerías

Importamos la librerías que vamos a utilizar en el práctico.

In [1]:
import io
import statistics as st
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from scipy.stats import t
import scipy.stats

sns.set_context("talk")
from numpy.ma.core import sqrt

## Lectura del dataset

In [2]:
url = "https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/sysarmy_survey_2020_processed.csv"

pd.set_option("display.max_rows", 10)
pd.set_option("display.max_columns", 1000)
pd.set_option("display.width", 100)
pd.set_option("display.max_colwidth", 100)
df = pd.read_csv(url)
df.head()

,profile_gender,profile_age,work_country,work_province,profile_years_experience,work_years_in_company,work_years_in_current_position,work_people_in_charge_of,profile_studies_level,profile_studies_level_state,profile_career,profile_university,profile_specialization_courses,profile_open_source_contributions,profile_programming_as_hobby,work_role,tools_platform,tools_programming_languages,tools_frameworks,tools_data_bases,tools_qa_testing,tools_IDEs,tools_work_pc_os,tools_cellphone_os,work_on_call_duty,salary_on_call_duty_charge,work_on_call_duty_charge_type,work_contract_type,salary_monthly_BRUTO,salary_monthly_NETO,salary_in_usd,salary_satisfaction,salary_comparison_last_semester,salary_has_bonus,salary_bonus_tied_to,salary_inflation_adjustment_2020,salary_percentage_inflation_adjustment_2020,salary_month_last_inflation_adjustment,work_has_violence_situations,profile_sexual_orientation,profile_has_disabilities,profile_has_disabilities_hiring_difficulties,company_employee_number,company_main_activity,company_recommended,company_diversity_policies,company_extra_benefits,company_best_companies_city
0,Mujer,26,Argentina,Ciudad Autónoma de Buenos Aires,3.0,3.0,3.0,0,Universitario,En curso,Ingeniería en Sistemas de Información,UTN - Universidad Tecnológica Nacional,"Sí, los pagó un empleador",No,Sí,Consultant,Ninguna,Ninguno,Ninguno,Ninguna,Ninguna,Ninguno,GNU/Linux,Android,No,0.0,Bruto,Full-Time,53000.0,43000.0,NaN,1,1,No,No recibo bono,No,0.0,0,En mi trabajo actual,Homosexual,NaN,NaN,501-1000,Servicios / Consultoría de Software / Digital,7,2,"Capacitaciones y/o cursos, Comidas pagas / subvencionadas, Cuota para universidad / posgrados, D...",NaN
1,Hombre,29,Argentina,Corrientes,5.0,2.0,2.0,4,Universitario,En curso,Ingeniería en Sistemas de Información,UTN - Universidad Tecnológica Nacional,"Sí, de forma particular, Sí, los pagó un empleador",No,Sí,Developer,"Docker, Google Cloud Platform/App Engine","HTML, Javascript, Python","Django, jQuery","Informix, MySQL, PostgreSQL",Ninguna,"IPython / Jupyter, Sublime Text, Visual Studio Code",GNU/Linux,Android,No,0.0,Bruto,Full-Time,79000.0,63000.0,NaN,2,2,Menos de un sueldo,Performance de la compañía,Uno,10.0,1,Jamás,Heterosexual,Visual,No,201-500,Otras industrias,8,9,"Horarios flexibles, Stock options / RSUs, Viáticos",NaN
2,Mujer,22,Argentina,Ciudad Autónoma de Buenos Aires,2.0,0.0,0.0,0,Secundario,Completado,NaN,NaN,"Sí, de forma particular, Sí, los pagó un empleador",No,Sí,Infosec,"Linux, VMWare",Ninguno,Ninguno,Ninguna,Ninguna,Ninguno,Windows,iOS,No,0.0,Porcentaje de mi sueldo,Full-Time,160000.0,127000.0,NaN,3,3,Un sueldo,Performance individual,No,0.0,0,En un trabajo anterior,Bisexual o queer,NaN,No,2001-5000,Otras industrias,6,9,"Clases de gimnasia online, Comidas pagas / subvencionadas, Descuentos varios (Mercado Pago, Clar...",NaN
3,Hombre,39,Argentina,Corrientes,15.0,15.0,13.0,5,Posgrado,Incompleto,Licenciatura en Sistemas,UNNE Universidad Nacional del Nordeste,"Sí, de forma particular, Sí, los pagó un empleador",Sí,Sí,SysAdmin / DevOps / SRE,"Docker, Linux, OpenStack, VMWare, Windows Server","Bash/Shell, C, CSS, HTML, Java, Javascript, PHP, Python, SQL","jQuery, WordPress","Microsoft SQL Server, MySQL",PHPUnit,"Eclipse, Visual Studio Code",GNU/Linux,Android,"Sí, pasiva",0.0,Bruto,Full-Time,130000.0,102000.0,NaN,3,1,No,No recibo bono,No,0.0,0,En mi trabajo actual,Heterosexual,NaN,NaN,501-1000,Otras industrias,7,6,"Abono de celular, Capacitaciones y/o cursos, Comidas pagas / subvencionadas, Cuota para universi...",NaN
4,Hombre,32,Argentina,Ciudad Autónoma de Buenos Aires,9.0,6.0,6.0,0,Universitario,En curso,Licenciatura en Ciencias dela Computación,UBA - Universidad de Buenos Aires,No,No,Sí,Developer,Amazon Web Services,"CSS, HTML, Javascript, SQL, TypeScript","Angular, Node.js","Amazon DynamoDB, MongoDB, MySQL",Jest,Vim,macOS,Android,No,0.0,Porcentaje de mi sueldo,Full-Time,140000.0,106000.0,NaN,1,1,Menos de un sueldo,Performance individual,No,0.0,0,Jamás,Heterosexual,NaN,NaN,11-50,Servicios / Consultoría de Software / Digital,6,6,"Clases de idiomas, Horarios flexibles, Vacaciones flexibles (adicionales a las reglamentarias)",NaN

Obtenemos información de las columnas con `groupby` de las columnas `profile_gender` y `salary_monthly_NETO`

In [3]:
df[["profile_gender", "salary_monthly_NETO"]].groupby("profile_gender").describe()

               salary_monthly_NETO                                                                 \
                             count          mean            std   min      25%      50%       75%
profile_gender
Hombre                      4944.0  98836.063558  102159.664237   1.0  53285.0  80000.0  110000.0
Mujer                        908.0  73501.414465   56256.880181   2.0  43818.0  65000.0   92000.0
Otros                         31.0  95441.354839   88635.674358  40.0  39500.0  74000.0  117500.0


                      max
profile_gender
Hombre          2080000.0
Mujer            800000.0
Otros            380000.0

Obtenemos información de las columnas con `groupby` de las columnas `profile_gender` y `salary_monthly_NETO` con `salary_monthly_NETO` mayor a 1000.

In [4]:
df[df.salary_monthly_NETO > 1000][["profile_gender", "salary_monthly_NETO"]].groupby(
    "profile_gender"
).describe()

               salary_monthly_NETO                                                           \
                             count           mean            std      min      25%      50%
profile_gender
Hombre                      4815.0  101481.624343  102215.304684   1100.0  55000.0  80000.0
Mujer                        863.0   77328.913778   55082.760570   2000.0  47850.0  67200.0
Otros                         28.0  105660.714286   87235.710235  34000.0  43750.0  78900.0


                     75%        max
profile_gender
Hombre          110000.0  2080000.0
Mujer            93000.0   800000.0
Otros           122750.0   380000.0

Calculamos **groupA** y **groupB** el `salary_monthly_NETO` mayor a 1000 donde:
- El **groupA** contiene el género Hombre 
- El **groupB** que contiene los otros géneros

In [5]:
is_man = df.profile_gender == "Hombre"

groupA = df[(df.salary_monthly_NETO > 1000) & is_man].salary_monthly_NETO
groupB = df[(df.salary_monthly_NETO > 1000) & ~is_man].salary_monthly_NETO

---

# Ejercicio 1: Estimación

**Consigna:**  

Calcular una estimación puntual y un intervalo de confianza de nivel $(1-alpha)$ para la resta entre la Media del Salario Neto para Hombres menos la Media del Salario Neto para Otros géneros(diferencia de las medias entre el grupoA y grupoB).   


**¿Cómo se relaciona este intervalo de confianza con el test de hipótesis?**

**Respuesta:**

Cálculo de la estimación puntual de diferencia de medias, a partir de muestras aleatorias independientes entre sí. 

El tamaño para cada grupo será exactamente el mismo y lo suficientemente grande como para poder aplicar el teorema central del límite.

**Tamaño de las muestras aleatorias**

In [6]:
sample_size = 800

**Muestra aleatoria** del grupo de **Hombres**

In [7]:
men_df = df[(df.salary_monthly_NETO > 1000) & is_man]
men_ma = men_df["salary_monthly_NETO"].sample(n=sample_size)

**Muestra aleatoria** del grupo de **Otros géneros**

In [8]:
others_df = df[(df.salary_monthly_NETO > 1000) & ~is_man]
others_ma = others_df["salary_monthly_NETO"].sample(n=sample_size)

**Medias muestrales** de cada grupo

In [9]:
salary_mean_A = men_ma.mean()
salary_mean_B = others_ma.mean()
print("⦁ Se estima que el salario neto medio del grupo A es:", round(salary_mean_A, 2))
print("⦁ Se estima que el salario neto medio del grupo B es:", round(salary_mean_B, 2))

⦁ Se estima que el salario neto medio del grupo A es: 97041.42
⦁ Se estima que el salario neto medio del grupo B es: 78786.22

**Estimación puntual** de la diferencia de las medias muestrales de ambos grupos

In [10]:
sample_means_diff = salary_mean_A - salary_mean_B
print(
    "La estimación puntual de la diferencia de las medias muestrales de ambos grupos es:",
    round(sample_means_diff, 2),
)

La estimación puntual de la diferencia de las medias muestrales de ambos grupos es: 18255.2

### Cálculo del intervalo de confianza. 

Independientemente de si las distribuciones son normales o no, el Teorema Central del Límite (TCL) nos permitirá emplear el estadístico $z$ para dicho cálculo.

Fórmula que emplearemos para el cálculo del intervalo de confianza:

$$\bar{x}-\bar{y} \pm {z_{\frac{\alpha}{2}}} \sqrt{\frac{s^2_{1}}{m}+\frac{s^2_{2}}{n}}$$

**Nivel de confianza**

In [11]:
alpha = 0.05
confidence_level = 1 - alpha
print(f"Establecemos un nivel de confianza igual al {int(confidence_level * 100)}%")

Establecemos un nivel de confianza igual al 95%

Cálculo de las **varianzas muestrales** de ambos grupos

In [12]:
salary_var_A = men_ma.var()
salary_var_B = others_ma.var()
print("⦁ La varianza muestral del grupo A es:", round(salary_var_A, 2))
print("⦁ La varianza muestral del grupo B es:", round(salary_var_B, 2))

⦁ La varianza muestral del grupo A es: 7408633110.01
⦁ La varianza muestral del grupo B es: 3310291657.1

Cálculo del **estadístico $z$**, empleando las varianzas muestrales en lugar de las poblacionales, de acuerdo al **TCL**.

In [13]:
z = scipy.stats.norm.ppf(1 - alpha / 2)
print(
    "El estadístico z calculado bajo un nivel de signifancia igual a 0.05 es:",
    round(z, 3),
)

El estadístico z calculado bajo un nivel de signifancia igual a 0.05 es: 1.96

**Raíz cuadrada** de la fórmula

In [14]:
square_root = np.sqrt((salary_var_A + salary_var_B) / sample_size)
print("La raíz cuadrada es:", round(square_root, 2))

La raíz cuadrada es: 3660.42

 **Cálculo parcial** del estadístico $z$ multiplicado por la raíz cuadrada de la fórmula

In [15]:
z_multiplied_by_the_sqrt = z * square_root
print(
    "Cálculo parcial del estadístico z multiplicado por la raíz cuadrada:",
    round(z_multiplied_by_the_sqrt, 2),
)

Cálculo parcial del estadístico z multiplicado por la raíz cuadrada: 7174.29

**Límite inferior**

In [16]:
lower_limit = (salary_mean_A - salary_mean_B) - z_multiplied_by_the_sqrt
print("El límite inferior del intervalo de confianza es:", round(lower_limit, 2))

El límite inferior del intervalo de confianza es: 11080.92

**Límite superior**

In [17]:
upper_limit = (salary_mean_A - salary_mean_B) + z_multiplied_by_the_sqrt
print("El límite superior del intervalo de confianza es:", round(upper_limit, 2))

El límite superior del intervalo de confianza es: 25429.49

**Intervalo de confianza**

In [18]:
print(
    f"El intervalo de confianza calculado es: ({lower_limit.round(2)}, {upper_limit.round(2)})"
)

El intervalo de confianza calculado es: (11080.92, 25429.49)

**Observación:**

Con una confianza del 95%, la diferencia entre la media poblacional del salario neto de los hombres (grupo A) y la media poblacional del salario neto de los otros géneros (grupo B), $\mu A - \mu B$, se encuentra entre los límites del intervalo de confianza calculados.

Dado que existe una alta confianza en que el intervalo construido contenga al verdadero valor de $\mu A - \mu B$, podríamos anticiparnos a determinar que sería rechazada la hipótesis nula que establece que las medias poblaciones son iguales en un Test de Hipótesis de diferencia de medias, puesto que el valor cero no se encuentra en dicho Intervalo de confianza, ni siquiera un valor cercano a cero.

---

# Ejercicio 2: Test de hipótesis  

## 2.1 Formalización  

Describir formalmente los distintos componentes de un Test de Hipótesis para comprobar si la distribución de los salarios es distinta entre los grupos A y B.

- Hipótesis Nula

$H_{0}$=...

-Estadístico (Pivote)

- Identificar el estadístico  
- Escribir qué distribución tiene bajo $H_{0}$ 
- Se desea determinar si la distribución de los salarios es distinta entre los grupos A y B

## 2.2 $p-valor$   

- Calcule el p-valor y decida si rechazar o no la hipótesis nula.  
- Interprete el resultado.  


Links útiles:  
- Test de hipótesis usando `scipy`  
- Test de Welch

## **Respuesta:**

Ejercicio 2.1 Formalización

Para comprobar si la distribución de los salarios es distinta entre los grupos A y B, con la diferencia de las medias muestrales si ésta se encuentra alejada de 0, concluiremos que las medias poblaciones diferentes, si se aproxima a 0, se concluye que las medias poblacionales podrían ser iguales...

- **Hipótesis nula:**
$$H_{0}: \mu A - \mu B = 0$$

- **Hipótesis alternativa:**
$$H_{1}: \mu A - \mu B \neq 0 $$

La prueba está basada en la diferencia entre (`salary_mean_A` - `salary_mean_B`).

Debido a que ambos tamaños de muestra son grandes, haremos uso del **Teorema Central del Límite** para utilizar el estadístico $z$ con **Distribución Normal Estandarizada**.

##**Respuesta:**
Ejercicio 2.2: $p-value$

Diferencia de las medias poblacionales bajo $H_{0}$:

In [19]:
population_means_diff = 0

**Construimos las regiones de aceptación y rechazo.**

Elegimos un nivel de riesgo **$\alpha$** igual a **0,05**, el cual indica la probabilidad de rechazar la hipótesis nula cuando ésta es verdadera.

Cálculo de $z$ empleando los resultados obtenidos en el Ejercicio 1, como la diferencia de las medias muestrales de los grupos A y B, y la raíz cuadrada de la suma entre las varianzas muestrales divididas por el tamaño de las muestras

In [20]:
z = (sample_means_diff - population_means_diff) / square_root
print("El estadístico z calculado es:", round(z, 2))

El estadístico z calculado es: 4.99

Buscamos el $p-value$ del puntaje $z$ obtenido

In [21]:
# P-value para una prueba de dos colas
p_value = scipy.stats.norm.sf(abs(z)) * 2
print(f'⦁ El p-value del estadístico z calculado es: {"{:.20f}".format(p_value)}')

⦁ El p-value del estadístico z calculado es: 0.00000061263270351486

**Observación:**

Es notorio ver que hasta con un nivel de significancia bajo como por ejemplo $\alpha = 0.01$, el $p-value$ es menor que éste, lo cual indica que no existe suficiente evidencia para aceptar la hipótesis nula. 

Por lo tanto, observando que $\mu A - \mu B \neq 0 $, es decir, que las medias poblacionales difieren y en gran medida, podemos interpretar que las distribuciones de las subpoblaciones A y B son distintas.

---
## Análisis extra:
 
 Mismo test de hipótesis, pero con muestras de tamaño distintos

Elegimos **muestras de tamaños iguales** al 50% de cada subpoblación

In [22]:
a_sample_size = int(len(groupA) * 0.5)
b_sample_size = int(len(groupB) * 0.5)

men_df = df[(df.salary_monthly_NETO > 1000) & is_man]
men_ma = men_df["salary_monthly_NETO"].sample(n=a_sample_size)

others_df = df[(df.salary_monthly_NETO > 1000) & ~is_man]
others_ma = others_df["salary_monthly_NETO"].sample(n=b_sample_size)

**Medias muestrales** de cada grupo

In [23]:
salary_mean_A = men_ma.mean()
salary_mean_B = others_ma.mean()

**Estimación puntual** de la diferencia de las medias muestrales de ambos grupos

In [24]:
sample_means_diff = salary_mean_A - salary_mean_B

Cálculo de las **varianzas muestrales** de ambos grupos

In [25]:
salary_var_A = men_ma.var()
salary_var_B = others_ma.var()

**Raíz cuadrada** de la fórmula

In [26]:
square_root = np.sqrt((salary_var_A + salary_var_B) / sample_size)

Diferencia de las medias poblacionales bajo $H_{0}$:

In [27]:
population_means_diff = 0

Cálculo del estadístico $z$

In [28]:
z = (sample_means_diff - population_means_diff) / square_root
print(f"⦁ El valor del estadístico z calculado es: {round(z, 2)}")

⦁ El valor del estadístico z calculado es: 4.83

$p-value$ para una prueba de dos colas

In [29]:
p_value = scipy.stats.norm.sf(abs(z)) * 2
print(f'⦁ El p-value del estadístico z calculado es: {"{:.20f}".format(p_value)}')

⦁ El p-value del estadístico z calculado es: 0.00000133850799729028

**Observación:**

Dado que los valores de $z$ y $p-value$ calculados son muy aproximados en la comparación de muestras de igual tamaño para cada subpoblación contra una muestra basada en el 50% de dichas subpoblaciones (significativamente muy diferentes en tamaño), podemos concluir que el Test de Hipótesis no se ve afectado, ya que los resultados son muy similares.

Consideramos que la diferencia manifestada puede estar relacionada con la aleatoriedad de las muestras.

---
**Conclusión:**
- Con una confianza del 95%, la diferencia entre la media poblacional del salario neto de los hombres (grupo A) y la media poblacional del salario neto de los otros géneros (grupo B), $\mu A - \mu B$, se encuentra entre los límites del intervalo de confianza calculados. Dado que existe una **alta confianza** en que el intervalo construido contenga al verdadero valor de $\mu A - \mu B$, como anticipamos, la hipótesis nula es rechazada ya que establece que las medias poblaciones son iguales en un Test de Hipótesis de diferencia de medias, puesto que el valor cero no se encuentra en dicho Intervalo de confianza, ni siquiera un valor cercano a cero.

- La prueba se basó en la diferencia entre (`salary_mean_A` - `salary_mean_B`).

- Hicimos uso del **Teorema Central del Límite** para utilizar el estadístico $z$ con **Distribución Normal Estandarizada** ya que ambos tamaños de muestra eran grandes.

- Elegimos un nivel de riesgo **$\alpha$** igual a **0,05**, el cual indica la probabilidad de rechazar la hipótesis nula cuando ésta es verdadera.

- Es notorio ver que hasta con un nivel de significancia bajo como por ejemplo $\alpha = 0.01$, el $p-value$ es menor que éste, lo cual indica que no existe suficiente evidencia para aceptar la hipótesis nula. Por lo tanto, observando que $\mu A - \mu B \neq 0 $, es decir, que las medias poblacionales difieren y en gran medida, podemos interpretar que las distribuciones de las subpoblaciones A y B son distintas.

- Optamos por realizar una publicación por Twitter relacionado con la rentabilidad de ser programador para empresas de Buenos Aires vs con el Resto del país.

- El link del tuit es el siguiente: 
[¿Ser programador para empresas de Buenos Aires, es más rentable que en el resto del país?](https://twitter.com/ErnestR03480144/status/1520776183423643649?s=20&t=tVw_1ogONydvOs1fBeocfA)

- El **PDF** es el siguiente: [¿Ser programador para empresas de Buenos Aires, es más rentable que en el resto del país?](https://github.com/eleanarinaudo/Diplo2022_Grupo-5/blob/main/Reporte/AyV2022.pdf)

---

# Ejercicio 3: Comunicación y visualización

**Consigna:** Seleccionen un resultado que les parezca relevante a partir de alguno de los ejercicios del entregable. Diseñe e implemente una comunicación en base a este mensaje, en un archivo PDF.

Elija las palabras y visualización más adecuada para que la comunicación sea entendible, efectiva y se dapte a UNA de las siguientes situaciones:

1. Una sección en un artículo de difusión a presentar como parte de una organización sin fines de lucro.
No más de 1 página A4 (o dos si los gráficos son muy grandes).
  1. Ejemplo: Alguna de las secciones [Los ecosistemas de emprendimiento de América Latina y el Caribe frente al COVID-19: Impactos, necesidades y recomendaciones](https://publications.iadb.org/es/los-ecosistemas-de-emprendimiento-de-america-latina-y-el-caribe-frente-al-covid-19-impactos-necesidades-y-recomendaciones), por ejemplo la sección *2.2. Reacciones de los emprendedores*.
  2. Ejemplo: Alguna de las secciones de [The state of gender pay gap in 2021](https://www.payscale.com/data/gender-pay-gap?tk=carousel-ps-rc-job)
  3. Puntos clave: 
    1. Simpleza de los gráficos.
    2. Comunicación en lenguaje simple a personas que no son necesariamente expertos de dominio.
    2. Selección de UNA oración sobre la que se hace énfasis.
    3. No es necesario que mencionen objetivos ni descripciones del conjunto de datos, se supone que eso ya estaría explicado en otras secciones del informe.

2. Una publicación científica o reporte técnico interno. No más de una página A4:
  2. Ejemplo: La sección de resultados de [IZA DP No. 12914: The Impact of a Minimum Wage Change on the Distribution of Wages and Household Income](https://www.iza.org/publications/dp/12914/the-impact-of-a-minimum-wage-change-on-the-distribution-of-wages-and-household-income).
  2. Ejemplo: Alguna de las secciones de [Temporary reduction in daily global CO2 emissions during the COVID-19 forced confinement](https://www.nature.com/articles/s41558-020-0797-x)
  3. Puntos clave:
    3. Nivel de detalle técnico requerido. Es necesario justificar la validez del análisis.
    4. La idea presentada puede ser más compleja. Pueden asumir que la audiencia tiene conocimiento técnico y va a analizar las visualizaciones en detalle. 
    5. Pueden presentar más en detalle las limitaciones del análisis (significancia estadística, etc.)
    2. No es necesario que mencionen objetivos ni descripciones del conjunto de datos, se supone que eso ya estaría explicado en otras secciones del informe.

3. Un tweet (o post de LinkedIn) para la cuenta de su empresa consultora que hace análisis de datos. El objetivo es promocionar un análisis de datos abiertos que van a incluir en su portfolio:
  1. Ejemplo: [Comparación vacunas covid](https://twitter.com/infobeautiful/status/1381577746527236098?s=20)
  2. Ejemplo: [Tweet del BID](https://twitter.com/el_BID/status/1388508583944507396?s=20). Lo valioso de este tweet es que usaron un único número para transmitir un mensaje. Puede ser algo así, o con un gráfico muy simple.
  3. Ejemplo: [Cambio climático](https://twitter.com/UNFCCC/status/1387732156190011394?s=20) Es un muy buen ejemplo, excepto que el gráfico no se lee nada y hay que entrar a la publicación original.
  3. Ejemplo: [¿Cuánto están los programadores en las empresas?](https://www.linkedin.com/posts/denis-rothman-0b034043_tech-career-work-activity-6793861923269054464-gS6y) (No verificamos la veracidad o seriedad de la fuente).
  4. Puntos clave:
    1. Su audiencia no va a mirar la visualización por más de unos segundos, y no tiene conocimiento técnico.
  3. Tienen que incluir además una *breve* descripción de cómo obtuvieron los datos que están presentando, que no entraría en el tweet.

## **Respuesta:**

Optamos por realizar una publicación por Twitter relacionado con la rentabilidad de ser programador para empresas de Buenos Aires vs con el Resto del país.

- El link del tuit es el siguiente: 
[¿Ser programador para empresas de Buenos Aires, es más rentable que en el resto del país?](https://twitter.com/ErnestR03480144/status/1520776183423643649?s=20&t=tVw_1ogONydvOs1fBeocfA)

- El **PDF** es el siguiente: [¿Ser programador para empresas de Buenos Aires, es más rentable que en el resto del país?](https://github.com/eleanarinaudo/Diplo2022_Grupo-5/blob/main/Reporte/AyV2022.pdf)